<div class="px-4 pt-8 mx-auto max-w-xl">
  <div class="max-w-xl mx-auto">
    <div class="flex flex-col mb-6 text-center mb-0">
      <a routerLink="" class="mb-6 mx-auto flex justify-center">
        <app-svg-header></app-svg-header>
      </a>
      <div *ngIf="fullHeader" class="max-w-xl mb-6 mx-auto sm:text-center">
        <app-socials></app-socials>

        <p class="text-base text-gray-700 md:text-lg text-center">
          Front End Development, Angular, RxJS and Javascript
        </p>
        <p class="text-base text-gray-700 md:text-lg text-center">
          Nelson Gutiérrez 🇨🇷
        </p>
        <div class="flex mt-10 flex justify-center">
          <img
            src="/assets/images/me.jpeg"
            class="md:w-80 w-48 h-auto rounded"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
