<div
  class="px-4 pt-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
>
  <p>about works!</p>

  <h1>about me</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cum qui,
    aperiam rem doloribus fugit repudiandae nam voluptas quidem quia saepe fuga
    optio facilis nemo cumque, consequuntur voluptatem commodi ut.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    voluptatem doloremque vero! Eveniet autem iure reiciendis modi. Dolores
    reiciendis, maiores molestiae perferendis iusto beatae praesentium eum
    magni, quibusdam aliquid quod?
  </p>
</div>
