<h1
  class="text-4xl md:text-6xl xl:text-7xl font-bold tracking-tight md:p-12 p-6"
>
  Blog
</h1>
<div class="w-full flex flex-col gap-8" *ngIf="posts$ | async as posts">
  <ng-container *ngFor="let post of posts">
    <div
      class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md w-full self-center"
    >
      <div class="flex justify-end items-center">
        <span class="font-light text-gray-600">{{ post.date }}</span>
      </div>
      <div class="mt-2">
        <a
          class="text-3xl text-gray-700 font-bold hover:underline"
          [routerLink]="post.route"
          >{{ post.title }}</a
        >
        <p class="mt-2 text-gray-600">{{ post.description }}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <a class="text-blue-500 hover:underline" [routerLink]="post.route"
          >Read more</a
        >
      </div>
    </div>
  </ng-container>
</div>
