<h1
  class="text-slate-800 text-4xl md:text-6xl tracking-tight md:px-24 md:py-12 px-6 pt-8"
>
  Tip - {{ tweet?.title }}
</h1>

<a
  routerLink="/tips"
  class="text-blue-600 dark:text-blue-500 inline-flex items-center space-x-2 gap-2 md:px-24 px-6 md:pt-0 pt-6"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
    />
  </svg>

  Tips
</a>

<div
  class="px-6 py-6 md:px-12 flex flex-col items-center space-y-6"
  *ngIf="tweet"
>
  <div class="self-start md:px-12">
    <span
      *ngFor="let tag of tweet.tags"
      class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >{{ tag }}</span
    >
  </div>
  <p
    class="self-start text-lg font-light text-gray-500 md:text-xl dark:text-gray-400 md:px-12"
  >
    {{ tweet.description }}
  </p>
  <img
    class="object-contain w-full max-w-4xl"
    [src]="tweet.srcLarge"
    [alt]="tweet.alt"
  />
</div>
