<h1
  class="text-slate-800 text-4xl lg:text-6xl tracking-tight lg:px-24 md:py-12 px-6 py-6"
>
  Angular CLI Explorer
</h1>

<h4 class="lg:px-24 px-6 text-xl mb-4">I need a command that:</h4>
<div class="lg:px-24 px-6 flex flex-col gap-x-4">
  <div class="w-full flex gap-x-2">
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Command</mat-label>
      <mat-select [formControl]="commandCtrl">
        <mat-option *ngFor="let command of commands" [value]="command">
          {{ command.shortDescription }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      *ngIf="commandCtrl.value?.longDescription"
      class="mb-4"
      type="button"
      (click)="openDescriptionDialog()"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <ng-container
    *ngIf="commandCtrl.value?.subcommands?.length > 0; else commandOptions"
  >
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Sub-commands</mat-label>
      <mat-select [formControl]="subCommandCtrl">
        <mat-option
          *ngFor="let subCommand of commandCtrl.value?.subcommands"
          [value]="subCommand"
        >
          {{ subCommand.shortDescription }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="subCommandCtrl?.value?.options?.length > 0"
      class="w-full"
      appearance="fill"
    >
      <mat-label>Subcommand Options</mat-label>
      <mat-select [formControl]="subcommandOptionCtrl">
        <mat-option
          *ngFor="let option of subCommandCtrl?.value.options | filterOption"
          [value]="option"
        >
          {{ option.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-template #commandOptions>
    <mat-form-field
      *ngIf="commandCtrl.value?.options?.length > 0"
      class="w-full"
      appearance="fill"
    >
      <mat-label>Options</mat-label>
      <mat-select [formControl]="optionCtrl">
        <mat-option
          *ngFor="let option of commandCtrl?.value?.options | filterOption"
          [value]="option"
        >
          {{ option.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</div>

<section class="flex flex-col items-center my-4">
  <div class="w-full max-w-3xl px-4">
    <app-terminal [command]="(command$ | async) || ''"></app-terminal>
  </div>
</section>

<ng-template #descriptionDialogTpl let-data>
  <div class="flex justify-center p-12">
    <div
      class="block rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700 w-full"
    >
      <h1
        class="mb-2 text-4xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        Description
      </h1>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200 w-full">
        <markdown class="markdown" [data]="data.description"> </markdown>
      </p>
    </div>
  </div>
</ng-template>
