<div
  class="prose lg:prose-xl px-4 pt-8 mx-auto md:max-w-full lg:max-w-screen-xl lg:px-8"
>
  <a
    routerLink="/tips"
    class="text-blue-600 dark:text-blue-500 inline-flex items-center space-x-2 gap-2"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
      />
    </svg>

    Tips
  </a>

  <!-- This is where Scully will inject the static HTML -->

  <scully-content></scully-content>

  <!-- end of scully content -->

  <hr />
</div>
