/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply text-base;
}

@screen lg {
  body {
    height: 100vh;
  }
}

.theme-dark {
  h6 > strong {
    @apply text-white;
    background-color: #111b27;
  }
}

.theme-light {
  h6 > strong {
    @apply text-black;
    background-color: #e3eaf2;
  }
}
/* include CSS for prism toolbar */
@import "prismjs/plugins/toolbar/prism-toolbar.css";
/* check node_modules/prismjs/themes/ for the available themes */
@import "prismjs/themes/prism-tomorrow";
